<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>退去申請</title>
</head>
<body>
    <h3>退去申請画面</h3>
    <dl>
        <dt>{{label.0}}</dt>
        <dd>{{member.id}}</dd>
        <dt>{{label.1}}</dt>
        <dd>{{member.name}}</dd>
        <dt>{{label.2}}</dt>
        <dd>
            <img src="{{ member.image.url }}"/>
        </dd>
        <dd>{{member.age}}</dd>
    </dl>
    <form action="{% url 'my_app:delete' id %}" method="post">
        {%csrf_token%}
        <input type="submit" value="退去" id="deleteBotton">
    </form>
    <script>
        let delBtn=document.getElementById('deleteBotton')
        delBtn.addEventListener('click', function(event) 
        {
            if(!confirm('確認事項：もう一度パスポートをもう一度確認し、ほんとに本人か確認してください')) {
                event.preventDefault();
            }
        })
    </script>

</body>