body {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ff0909;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}
label {
    margin-top: 10px;
    font-weight: bold;
}
input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#submit {
    margin-top: 20px;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#submit:hover {
    background-color: green;
}
.error {
    color: red;
    font-size: 0.9em;
}
.login-link {
    text-align: center;
    margin-top: 15px;
}